<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>搜索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript">

    </script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ACS_Design</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" maxlength="25" name="keyword" th:value="${keyword}" class="form-control"
                               placeholder="请输入关键字">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                    <div class="form-group">
                        <input type="text" maxlength="25" name="domain" th:value="${domain}" class="form-control"
                               placeholder="站点内检索">
                    </div>
                    <div class="form-group">
                        <input type="number" maxlength="5" name="pageNum" th:value="${pageNum}" class="form-control"
                               placeholder="页码">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</head>

<body marginwidth="30%">
<h th:text="'查询结果：' + ${totalItemNum} + '条，共' + ${totalPageNum} + '页，耗时' + ${totalTookMillis} +'毫秒'"></h>
<div class="list-group">
    <tr th:each="info : ${pageInfos}">
        <a class="list-group-item" th:href="${info.getUrl()}" th:target="_blank">
            <h4 class="list-group-item-heading" th:text="${info.getTitle()}"></h4>
            <p class="list-group-item-text" th:text="${info.getContent()}"></p>

            <h class="glyphicon glyphicon-flag"></h>
            <mark th:text="${info.getContentType()}"></mark>
            <h>&nbsp;</h>

            <span class="glyphicon glyphicon-hdd"></span>
            <span class="list-group-item-text" th:text="${info.getUpdateDate()}"></span>
            <h>更新&nbsp;</h>

            <span class="glyphicon glyphicon-link"></span>
            <h class="list-group-item-text" th:href="${info.getUrl()}" th:text="${info.getUrl()}"></h>
            <h>&nbsp;</h>

        </a>
    </tr>
</div>
</body>

</html>